<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Technophilia</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <%- style %>

</head >

<body>

    <%- include('_header') %>

    <%- body %>

    <%- include('_footer') %>

    <%- script %>

</body>
</html>